@charset "utf-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

li {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
}
section {
    width: 1496px;
    margin: 0 auto;
    padding-top: 81px;
}

h2 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}