@charset "utf-8";

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

h3 {
    font-size: 2rem;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* section2 */
.section2_hs_ranking_flex>div:nth-of-type(2) {
    font-size: 2.2rem;
}

.section2_hs_btn button {
    font-size: 1.5rem;
}

.section2_hs_rankingtext>div:nth-of-type(2) a,
.section2_hs_comment_text li a {
    font-size: 1.4rem;
}

.section2_hs_btn button {
    color: #666666;
}

.section2_hs_btn button.active {
    color: #00dc64;
}

.section2_hs_comment a {

    color: #666666;
}

.section2_hs_app p {
    font-size: 1.3rem;
}
.section2_hs_app>div:nth-of-type(1) p span{
    color: #00dc64;
}