/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
}
/* header */
h1 {
    background: #ec515134;
}

nav {
    height: 40px;
    background: #ff2a71;
}

/* 1depth */
.main {
    display: flex;
    justify-content: center;
}

.main>li {
    width: 140px;
    height: 40px;
    text-align: center;
}

.main>li>a {
    line-height: 40px;
}

.main>li a:hover {
    background: #FFE3EA;
}

/* 2depth */
.sub {
    display: none;
}

.sub {
    position: relative;
    z-index: 2;
    height: 100px;
    background: #abffb592;
}

.sub>li {
    text-align: center;
}

.sub>li a {
    padding: 2px 4px;
    font-size: 1.2rem;
    color: #000000;
}

.main>li>a:hover+.sub {
    display: block;
}
/* section */
.par{
    background: lawngreen;
    height: 770px;
}
/* section */
.slide{
background: lightblue;
height: 700px;
}